<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/LogoBlack.jpeg" alt="logo" width="1080" height="395"></a>

        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            21802 Townsen Blvd W A<br>
                            Hunble, Texas 77338
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            Phone: (832) 406-2781
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">houstonfamilyeyecare@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Manastorm Web Design</a>
        <span class="copyright">
            Copyright - {% year %}</span>
    </div>
</footer>
